@using DotNetCodeGenerator.Domain.Entities;
@using DotNetCodeGenerator.Domain.Helpers;
@using NonFactors.Mvc.Grid;
@using NonFactors.Mvc;

@model CodeGeneratorResult
@{
    ViewBag.Title = "Home Page";
    var gridModel = Model.DatabaseMetadata!= null ? Model.DatabaseMetadata.SelectedTable.TableRowMetaDataList : new List<TableRowMetaData>();
    // Grid controls for ASP.NET MVC 5 projects http://mvc-grid.azurewebsites.net/

    var emptyList = new List<SelectListItem>();
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CodeGeneratorResult</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" value="@Model.SelectedTable.ToStr()" id="SelectedTableValue" />
        <div>
            <div class="bs-example">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Model.UserMessageState.ToString()!</strong> @Model.UserMessage.ToStr()
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConnectionString, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConnectionString, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConnectionString, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedTable,
           htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("SelectedTable", emptyList, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedTable, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    <input type="button" id="RetrieveTables" value="Get Tables" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedTableName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifiedTableName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModifiedTableName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NameSpace, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameSpace, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameSpace, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StringCodePattern, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StringCodePattern, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StringCodePattern, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsMethodStatic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsMethodStatic)
                        @Html.ValidationMessageFor(model => model.IsMethodStatic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="btnAction" value="Fill GridView" class="btn btn-default" />
                    <input type="submit" name="btnAction" value="Generate Code" class="btn btn-default" />
                </div>
            </div>
            
        </div>
  

        <div class="container">
            <div class="form-horizontal">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#">User Input</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            
                            <div class="panel-body">
                                @(Html.Grid(gridModel)
    .Build(columns =>
    {
        columns.Add(model => model.ColumnName).Titled("ColumnName");
        columns.Add(model => model.DataType).Titled("DataType");
    })
    .Filterable()
    .Sortable()
    .Pageable())
                             

                            </div>
                            </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#">Mvc Controller</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">


                                <div class="form-group">
                                    @Html.LabelFor(model => model.AspMvcControllerClass, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="AspMvcControllerClass"
                                                  name="AspMvcControllerClass">
                                            @Model.AspMvcControllerClass
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.AspMvcControllerClass, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#"> Repository</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">


                                <div class="form-group">
                                    @Html.LabelFor(model => model.TableRepository, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="TableRepository"
                                                  name="TableRepository">
                                            @Model.TableRepository
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.TableRepository, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                                <div class="form-group">
                                    @Html.LabelFor(model => model.SqlDatabaseOperation, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="SqlDatabaseOperation"
                                                  name="SqlDatabaseOperation">
                                            @Model.SqlDatabaseOperation
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.SqlDatabaseOperation, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#">Table Class</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">



                                <div class="form-group">
                                    @Html.LabelFor(model => model.TableClassItem, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="TableClassItem"
                                                  name="TableClassItem">
                                            @Model.TableClassItem
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.TableClassItem, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TableClassInstance, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="TableClassInstance"
                                                  name="TableClassInstance">
                                            @Model.TableClassItem
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.TableClassItem, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="panel-title expand">
                                <div class="right-arrow pull-right">+</div>
                                <a href="#">Stored Procedure</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StoredProcExec, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="StoredProcExec"
                                                  name="StoredProcExec">
                                            @Model.StoredProcExec
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.StoredProcExec, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.StoredProcExecModel, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="StoredProcExecModel"
                                                  name="StoredProcExecModel">
                                            @Model.StoredProcExecModel
                                        </textarea>

                                        @Html.ValidationMessageFor(model => model.StoredProcExecModel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StoredProcExecModelDataReader, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <textarea class="form-control text-box multi-line"
                                                  id="StoredProcExecModelDataReader"
                                                  name="StoredProcExecModelDataReader">
                                            @Model.StoredProcExecModelDataReader
                                        </textarea>
                                        @Html.ValidationMessageFor(model => model.StoredProcExecModelDataReader, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      


      
    </div>
}

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.mvc-grid').mvcgrid();
        $(function () {
            $(".expand").on("click", function () {
                // $(this).next().slideToggle(200);
                $expand = $(this).find(">:first-child");

                if ($expand.text() == "+") {
                    $expand.text("-");
                } else {
                    $expand.text("+");
                }
            });
        });
      $(document).ready(function () {

          $("#ConnectionString")
       .blur(fillTables)
       .keyup(fillTables)
       .change(fillTables);          $("#RetrieveTables").click(function () {
              fillTables();
          });
          fillTables();
          function fillTables() {
              if (!isEmpty($("#ConnectionString").val())) {
                  var postData = JSON.stringify({ "connectionString": $("#ConnectionString").val() });
                  ajaxMethodCall(postData, "/Ajax/GetTables", function (data) {
                      var listitems = '';
                      $('#SelectedTable').find('option').remove();
                      var SelectedTableValue = $("#SelectedTableValue").val();
                      $.each(data, function (i, item) {

                          var isSelected= SelectedTableValue == item.DatabaseTableName ? "selected='true'":"";
                          listitems += '<option ' + isSelected + ' value=' + item.DatabaseTableName + '>'
                              + item.TableNameWithSchema + '</option>';
                      });
                      $('#SelectedTable').append(listitems);
                  });
              }
          }
          $('#SelectedTable').on('change', function () {
              $('#ModifiedTableName').val(this.value);
          });

      });

    </script>
}
